@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev, .slick-next {
  top: 106% !important;
  height: 40px !important;
  width: 40px !important;
}

.slick-prev{
  right: 20px !important;
  left: unset !important;
}

.slick-disabled {
  opacity: 0.3;
}

.slick-dots{
  white-space: nowrap !important;
  bottom: -30px !important;
}